<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat a Hamburger</title>
        <link href="./assets/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
        <img id="burger" src="./assets/img/burger.jpg" alt="A Graffiti Hamburger">
        <h4 id="header">Eat The Hamburger</h4>
		{{{ body }}}
        <h1>Please Order your burger Below</h1><br>
        <input type="text" value="Enter your burger here...">
	</body>
</html>
