<ul id="left">
{{#each burger}}
{{#unless this.devoured}}
<li>
{{this.id}}
{{this.burger_name}}
<button>EAT</button>
</li>
{{/unless}}
{{/each}}
</ul>
<br><div>--------EATEN-------------</div>
<ul id="right">
{{#each burger}}
{{#if this.devoured}}
<li>
{{this.id}}
{{this.burger_name}}
</li>
{{/if}}
{{/each}}
</ul>


</ul>
